<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GeVen_SE_2015_Server.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <GeVen_SE_2015_Server.My.MySettings>
            <setting name="serverDB" serializeAs="String">
                <value />
            </setting>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="credenziali" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nomeDB" serializeAs="String">
                <value />
            </setting>
            <setting name="porta" serializeAs="String">
                <value />
            </setting>
        </GeVen_SE_2015_Server.My.MySettings>
    </userSettings>
</configuration>