<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GeVen_SE_2015.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="GeVen_SE_2015.My.MySettings.fatturazionegevenConnectionString"
            connectionString="server=localhost;user id=root;password=freedom3;database=fatturazionegeven;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <GeVen_SE_2015.My.MySettings>
            <setting name="controlloSecondi" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="ServerIP" serializeAs="String">
                <value />
            </setting>
            <setting name="porta" serializeAs="String">
                <value />
            </setting>
            <setting name="percorsotemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="percorsoOutput" serializeAs="String">
                <value />
            </setting>
        </GeVen_SE_2015.My.MySettings>
    </userSettings>
</configuration>
